# Dependencies
node_modules/
*/node_modules/

# Production builds
dist/
*/dist/
dist-ssr/
*/dist-ssr/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp*
